* {font-family: Sans-Serif;}

BODY {
color:#000000; 
background-color: #000000;
background-image: url(file:///C|/Documents%20and%20Settings/Enrique/Configuraci%C3%B3n%20local/Archivos%20temporales%20de%20Internet/Content.IE5/6ZJ4U3ZD/img/dexter.gif);
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0px;
padding: 0px;
scrollbar-face-color: #009999;
scrollbar-arrow-color: #FFFFEE;
scrollbar-base-color: #006666;
scrollbar-highlight-color: #009999;} 

P {font-size: x-small;
text-align: justify;
text-indent: 3em;
margin-bottom: -1em;}

.cap:first-letter {font-weight: bold;
color: #006666;
font-size: 150%;}

H1 {font-size: large;
color: #006666;}

H2 {
color: #000099;
font-size: medium;
font-weight: bold;}

.nota {font-size: xx-small;
color: #996633;
text-align: center;
text-indent: 0px;
border-top: 1px solid #CCCCCC;
margin-top: 3em;
padding-bottom: 2em;
}

HR {color: #009999;
	height: 1px;}

A:link {text-decoration: none; color: #FFFFFF;background-color:#666666;padding: 0 4px;}
A:visited {text-decoration: none; color: #FFFFFF;background-color:#666666;padding: 0 4px;}
A:hover {text-decoration: none; color: #FFFF00;background-color:#666666;padding: 0 4px;}
A:active {text-decoration: none; color: #FFFF00;background-color:#666666;padding: 0 4px;}

DIV#home {width: 74px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 26px;}

DIV#css {width: 74px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 130px;
background-image: url(file:///C|/Documents%20and%20Settings/Enrique/Configuraci%C3%B3n%20local/Archivos%20temporales%20de%20Internet/Content.IE5/6ZJ4U3ZD/img/dexter_btn.gif);}

DIV#manual {width: 74px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 214px;
background-image: url(file:///C|/Documents%20and%20Settings/Enrique/Configuraci%C3%B3n%20local/Archivos%20temporales%20de%20Internet/Content.IE5/6ZJ4U3ZD/img/dexter_btn.gif);}

DIV#autor {width: 74px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 298px;
background-image: url(file:///C|/Documents%20and%20Settings/Enrique/Configuraci%C3%B3n%20local/Archivos%20temporales%20de%20Internet/Content.IE5/6ZJ4U3ZD/img/dexter_btn.gif);}

.boton {width: 74px;
	height: 19px;
	padding: 0px;
	margin: 0px;}

.boton TR TD {text-align: center;
	vertical-align: middle;
	font-size: 10px;}

DIV#contenido {background-color: #FFFFFF;
background-image: url(file:///C|/Documents%20and%20Settings/Enrique/Configuraci%C3%B3n%20local/Archivos%20temporales%20de%20Internet/Content.IE5/6ZJ4U3ZD/img/logo.gif);
background-position: 424px 4px;
background-repeat: no-repeat;
padding: 4px;
position: absolute;
	top: 44px;
	left: 24px;
width: 591px;
height: 369px;
overflow: auto;}

DIV#select {width: 128px;
	position: absolute;
	top: 100px;
	left: 633px;}

DIV#select P {font-size: xx-small;
color: #FFFFFF;
text-align: left;
text-indent: 0px;}

DIV#select P STRONG {font-size: x-small;
color: #FFFFFF;}

IMG {border:none}

.centrado {text-align: center;
text-indent: 0px;}

.derecha {text-align: right}

/* Hoja de estilo del manual */

#manual DIV#home {width: 74px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 26px;}

#manual DIV#manual {width: 74px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 130px;
background-image: url(file:///C|/Documents%20and%20Settings/Enrique/Configuraci%C3%B3n%20local/Archivos%20temporales%20de%20Internet/Content.IE5/6ZJ4U3ZD/img/dexter_btn.gif);}

#manual DIV.barra {position: absolute;
	left: 300px;
	top: 0px;
	width: auto;}

#manual .barra TABLE TD#titulo {text-align: center;
vertical-align: middle;
font-size: 11px;
font-weight: bold;
color: #FFFFFF;}

#manual .barra TABLE TR TD.ico {
vertical-align: middle;
}

#manual .barra TABLE TD.ico IMG {
width: 6px;
height: 6px;
}

#manual .barra TABLE TD.prev-next {
font-size: 8px;
vertical-align: top;
}

#manual .barra TABLE TD A:link {font-size: 8px; }
#manual .barra TABLE TD A:visited {font-size: 8px;}
#manual .barra TABLE TD A:hover {font-size: 8px;}
#manual .barra TABLE TD A:active {font-size: 8px; }

.cod {
font-family: Courier, "Courier New", Monospace;
text-align: left;
line-height: 1.5em;
text-indent: 0px;
color: #006600;
background-color: #FFFFCC;
padding-left: 3em;}

CODE {
font-family: Courier, "Courier New", Monospace;
font-size:   x-small;
color: #0000CC;} 

#manual #contenido A {
text-decoration: none;
color: #FFFFCC;
background-color: #009999;
font-weight: bold;} 
 
#manual #contenido A:hover, A:active {
text-decoration: none;
color: #FFFFFF;
background-color: #666666;
font-weight: bold;}

#manual #contenido DL, UL, OL, LI {
font-size:   x-small;
margin-left: 3em;}

UL { list-style-image: url("file:///C|/Documents and Settings/Enrique/Configuración local/Archivos temporales de Internet/Content.IE5/6ZJ4U3ZD/img/dexter_bullet.gif") }

#manual #contenido TABLE {
margin: 0px;
text-indent: 0px;
font-size: x-small;
border: 3px ridge #FFCC99;}

#manual #contenido DT, DD, DL, TD, TH {
font-size: x-small;}

#manual #contenido TD {padding: 6px;}
#manual #contenido TH {background-color: black; color: white;border-bottom:#FFFFCC solid 1px;padding:2px;}

#manual #contenido .prop {background-color: #FFFF00; 
color: #CC0000;
font-weight: bold;
padding: 3px 6px; 
border: solid #FF0000 1px;}
#manual #contenido .val {background-color: #FFFFCC; border: solid #009999 1px;padding: 4px;}
#manual #contenido .def {border: solid #FFCC99 1px;padding: 4px; background-color: #FFFFFF;}

#manual #contenido PRE {
padding: 4px;
}

#manual #contenido DL {font-weight: bold;}
#manual #contenido DD {font-weight: normal;}

#manual #contenido .temas {background-color:#CCCCCC;
	border: 1px outset #666666;
	text-align: center;
	font-size: x-small;
	padding: 6px;
margin-right: 200px;}

#manual #contenido .temas A {
background-color: transparent;
color: #006666; 
} 

#babylon {background-color: transparent;
font-size: xx-small;
text-align: center;
color: #666666;}

#babylon A {background-color: transparent;}